@charset "UTF-8";

:root{
    --cortitulos: #6639C1;
    --corprincipal: #0B1016;
    --corsub: #1A1F25;

    --fonteprincipal: 'Poppins'
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    background-color: var(--corprincipal);
}


