@charset "UTF-8";

@media (max-width: 450px){

  #hero{
  background: var(--corprincipal) !important;

  display: flex;
  justify-content: left;
  align-items: left;

  width: 100%;
  height: 220px !important;
}

#texto {
  justify-content: left;
  margin-left: 30px;
}

#titulo {
  margin-top: 20px !important;

  font-size: 2em;
  line-height: 30px;
}

#rainbow {
  background: linear-gradient(90deg, #6639c1, #b639c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0px 0px 10px #7943e47a;
}

#subtitulo {
  margin-top: 15px;
  margin-bottom: 20px;
}

#explorar {
  text-align: center;
  font-weight: 700;

  background-color: var(--cortitulos);
  box-shadow: 0px 0px 10px #7943e47a;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

#explorar:hover {
  background-color: #7943e4;

  scale: 1.1;

  transition: 0.5s;}
}


@media (max-width: 1024px){

  body{
    width: 100dvw;
  }

  header{
    width: 100dvw;
    display: flex;
    flex-direction: column;
    margin: 0px;
    
    margin-right: 0px;
  }


  #box-pesquisa{
  
    width:24px;
    height: 24px;
  

    margin-left: 0px;
    margin-top: 0px;
    
  }

  #pesquisar{
    display: none;
  }

  svg#lupa{
   
    position: static;
    left: auto;
    top: auto;
    
    transform: none;

  }

 #box-user{
  display: flex;
  justify-content: right;
  align-items: end;
  
  margin-left: 0px;
 }

 div#acoes{
  
  gap: 10px;
 }

  nav{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: start;
  }

  #links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }
  
.pag{
  text-align: center;
  margin: 10px;
  margin-right: 0px;
  
  

  border: 1px solid rgba(255, 255, 255, 0.541);
  border-radius: 20px;

  padding: 10px;
  
}

  .pag:hover {
  background-color: var(--corsub);
  border-radius: 20px;
  margin-top: 5px;
  

  color: var(--cortitulos);
  

  transition: all 0.5s ease;
}

  #box-categorias {
    overflow-x: auto;

}


}


/*  MEDIAS QUERIES  */


html {
  scroll-behavior: smooth;
}

:root {
  --cortitulos: #6639c1;
  --corprincipal: #0b1016;
  --corsub: #1a1f25;

  --fonteprincipal: "Poppins";
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;

  background-color: var(--corprincipal);
}

header {
  position: relative;
  margin: 10px;
  margin: 10px;
  margin-left: 0px;

}

#logo {
  display: flex;
  padding: 10px 20px 10px 10px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 50px;
}

#globo {
  margin-right: 5px;
  margin-top: -1px;
  margin-bottom: 5px;
  width: 24px;
  height: 24px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pag{
  margin-right: 30px;
  font-size: 15px;
}

.pag:hover {
  background-color: var(--corsub);
  border-radius: 20px;

  padding: 10px 10px 10px 10px;

  color: var(--cortitulos);
  scale: 1.1;

  transition: all 0.5s ease;
}

#acoes{
  display: flex;
  justify-content: right;
  align-items: end;
}

#box-pesquisa {
  position: relative;
  display: flex;
  align-items: center;
}

#pesquisar {
  margin-left: 50px;

  padding-left: 30px;
  padding-top: 2px;
  min-width: 300px;
 
  height: 30px;

  background-color: var(--corsub);
  color: rgba(255, 255, 255, 0.788);

  border-radius: 5px;
  border: none;
}

#lupa {
  position: absolute;
  top: 50%;
  left: 65px;

  transform: translate(-50%, -50%);

  opacity: 0.8;

  z-index: 1;
}

#box-user {
  margin-left: auto;
  display: flex;
  justify-content: right;

  margin-right: 20px;
}

#user {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  justify-content: right;
  width: 24px;
  height: 24px;
}

#acoes{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#linha {
  margin-top: 5px;
  background: rgba(110, 110, 110, 0.322);
  opacity: 0.6;
  height: 2px;
}

#hero {
  display: flex;
  justify-content: left;
  align-items: left;

  background:
    linear-gradient(to right, black, transparent), url("freefire.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 500px;
}

#texto {
  justify-content: left;
  margin-left: 30px;
}

#titulo {
  margin-top: 130px;

  font-size: 2em;
  line-height: 30px;
}

#rainbow {
  background: linear-gradient(90deg, #6639c1, #b639c1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0px 0px 10px #7943e47a;
}

#subtitulo {
  margin-top: 15px;
  margin-bottom: 20px;
}

#explorar {
  text-align: center;
  font-weight: 700;

  background-color: var(--cortitulos);
  box-shadow: 0px 0px 10px #7943e47a;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

#explorar:hover {
  background-color: #7943e4;

  scale: 1.1;

  transition: 0.5s;
}

#box-categorias {
  display: flex;
  justify-content: left;
  align-items: start;
  text-align: left;

  margin-top: 10px;
  margin-left: 30px;
}

.opçao1, .opçao2, .opçao3, .opçao4 {
  display: flex;
  background-color: var(--corsub);
  border-radius: 10px;

  padding: 7px 35px;
  margin-right: 7px;

  font-size: 15px;
  font-weight: 600;
}


.clicks {
  margin-left: 7px;
  margin-top: 3px;
}

.opçao1:hover{
 
  background-color: #f01affc0;

  transition: 0.8s ease;
  border-radius: 30px;
  padding-right: 45px;
}

.opçao2:hover{
 
  background-color: #3584e4be;

  transition: 0.8s ease;
  border-radius: 30px;
  padding-right: 45px;
}

.opçao3:hover{
 
  background-color: #33d17ac2;

  transition: 0.8s ease;
  border-radius: 30px;
  padding-right: 45px;
}

.opçao4:hover{
 
  background-color: #f6d52dc0;

  transition: 0.8s ease;
  border-radius: 30px;
  padding-right: 45px;
}

#categorias, #emalta, #recomendados {
  margin-top: 20px;
  margin-left: 30px;
}

#box-emalta, #box-recomendados{
  
  display: flex;
  justify-content: left;

  margin-left: 10px;
  margin-top: 10px;
}

.card {
  overflow: hidden;
  position: relative;

  margin-left: 30px;

  background-color: var(--corsub);

  width: 220px;
  height: 330px;

  border-radius: 15px;
}

.descrição {
  font-size: 1.1em;
  color: white;
  background-color: var(--corsub);

  width: 150px;
  height: 50px;

  text-align: left;
  margin-left: 10px;

  position: absolute;
  top: 100%;
  left: 50%;

  transform: translate(-50%, -100%);
}

.nota,
.ano {
  display: inline;
  justify-content: flex-start;
  padding-left: 13px;
}

.ano {
  opacity: 0.6;
}



