@charset "UTF-8";

html{
    scroll-behavior: smooth;
}

:root{
    --cortitulos: #6639C1;
    --corprincipal: #0B1016;
    --corsub: #1A1F25;

    --fonteprincipal: 'Poppins'
}

*{
    margin: 0px;
    padding: 0px;
}

a{  
    text-decoration: none;
    color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    background-color: var(--corprincipal);
}

header{
    position: relative;
    margin: 10px;
    
}

#logo{
    display: flex;
    padding: 10px 20px 10px 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 20px;
}

#globo{
    margin-right: 5px;
    margin-top: -1px;
    margin-bottom: 5px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: left;

}

nav a{
    padding-right: 25px;
    font-size: 15px;
}

#barrinha{
    position: relative;
    display: flex;
    align-items: center;
}

#pesquisar{
    
    margin-left: 50px;

    padding-left: 30px;
    width: 300px;
    height: 30px;

    background-color: var(--corsub);
    color: rgba(255, 255, 255, 0.705);

    border-radius: 5px;
    border: none;
}

#procure{
    position: absolute;
    top: 50%;
    left: 65px;

    transform: translate(-50%, -50%);

    
    
    z-index: 1;

    width: 18px;
    height: 18px;
}

#linha{
    width: 100%;
    
    margin-top: 5px;
    background: red;
    height: 1px;
}


#hero{
    display: flex;
    justify-content: left;
    align-items: left;
}

#texto{
    justify-content: left;
    margin-left: 30px;
}

#titulo{
    margin-top: 25px;

    font-size: 2em;
    line-height: 30px;
}

#rainbow{
    background: linear-gradient(90deg, #6639C1, #b639c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#subtitulo{
    margin-top: 15px;
    margin-bottom: 20px;
    opacity: 0.50;
}

#explorar{
    text-align: center;
    font-weight: 700;

    background-color: var(--cortitulos);

    padding: 15px;
    border-radius: 10px;
    width: 150px;
}

#fundo{
    position: relative;
    perspective: 700px;
    
}

#fundo::before{
    content: "";
    position: absolute;
    transform: rotateY(-20deg);

    perspective: 700px;
    filter: blur(20px);
    
    background: rgba(0, 0, 0, 0.226);
    z-index: 1;
    margin-top: 40px;
    width: 650px;
    height: 350px;
    margin-left: 300px;
    box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.699);
}

#banner{
    
    transform: rotateY(-25deg);
    
    display: flex;
    justify-content: right;

    margin-top: 40px;
    width: 650px;
    height: 350px;
    margin-left: 300px;

     box-shadow: 5px 5px 7px black;
}

.card{
    overflow: hidden;
    position: relative;
   
    margin-left: 10px;

    background-color: var(--corsub);

    width: 150px;
    height: 160px;

    border-radius: 15px;
}

.descrição{
    font-size: 1.1em;
    color: white;
    background-color: var(--corsub);

    width: 150px;
    height: 50px;
    
    text-align: left;
    margin-left: 10px;

    position: absolute;
    top: 100%;
    left: 50%;

    transform: translate(-50%, -100%);
    
}

.nota, .ano{
    display: inline;
    justify-content: flex-start;
    padding-left: 13px;
}

.ano{
    opacity: 0.60;
}
